:root{
    --mainColor:#eaeaea;
    --secondaryColor:#fff;

    --mainText:black;
    --secondaryText:#4b5156;
    
    --themedotborder:#24292e;

    --buttonColor:black;
}

*{
    box-sizing:border-box;
    margin:0;
    padding:0;
    font-family: 'Kumbh Sans',sans-serif;
}

body *{
    scroll-behavior:smooth;
	transition: 0.3s;
}

html{
    scroll-behavior: smooth;
}

.theme-text{
    color: var(--mainText);
}

/*nav bar */
.navbar{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
    background:var(--mainColor);
}

.navbar__container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 auto;
}

#navbar__logo{
    background-color: #ff8177;
    background-image: linear-gradient(top,#ff0844 0%,#ffb199 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color:transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.beta{
    font-size: small;
    margin: 0 0 20px 7px;
    border: 1px solid var(--themeDotBorder);
    border-radius: 5px;
    padding: 2px;
}

.fa-gem{
    margin-right: 0.5rem;
}

.navbar__menu{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item{
    height: 80px;
}

.navbar__links{
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar__links{
    color: #f77062;
}

.navbar__links:hover{
    color: #f77062;
    transition: all 0.3s ease;
}

@media screen and (max-width:960px){
    .navbar__container{
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar__menu{
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
    }

    .navbar__menu.active{
        background: #131313;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;
    }

    #navbar__logo{
        padding-left: 25px;
    }

    .navbar__toggle .bar{
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #000;
    }

    .navbar__item{
        width: 100%;
    }

    .navbar__links{
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
        color: white;
    }

    #mobile-menu{
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%,20%);
    }

    .navbar__toggle .bar{
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2){
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
}

/* navbar */

#home{
    background:var(--secondaryColor);
}

.main__container{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    text-align: center;
    justify-self: center;
    margin: 0 auto;
    height: 90vh;
    z-index: 1;
    width: 100%;
}

.main__content h1{
    font-size: 4rem;
    background-size: 100%;
}

.main__content p{
    margin:0 0 10px 0;
}

/* THEME*/
.theme-options-wrapper{
    display:flex;
    justify-content:center;

}

.theme-dot{
    height: 30px;
    width: 30px;
    border-radius:50%;
    margin:5px;
    border:2px solid var(--themedotborder);

    cursor:pointer;
    -webkit-box-shadow:-1px 1px 3px -1px rgba(0,0,0,0.75);
    -moz-box-shadow:-1px 1px 3px -1px rgba(0,0,0,0.75);
    box-shadow:-1px 1px 3px -1px   rgba(0,0,0,0.75);
}

.theme-dot:hover{
    border-width: 5px;
    /* height: 35px;
    width: 35px; */
}

#light-mode{
    background-color: #fff;
}

#blue-mode{
    background-color: #192734;
}
#green-mode{
    background-color: #78866b;
}
#purple-mode{
    background-color: #7E4C74;
}

/* contact-form css*/

#contact__us{
    background: var(--mainColor);
}

.contact__form{
    max-width: 550px;
    width: 100%;
    margin: 0vh auto 0 auto;
    padding: 40px;
    border-radius: 3px;
}

.contactUs__label{
    margin: 0;
    text-align: center;
}

.label{
    display: block;
    margin: 20px 0;
}

.input,.textarea{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
    resize: none;
    border: none;
    border-bottom: 1px solid var(--borderColor);
    margin: 0 0 20px 0;
}

.form-control.input{
    background: var(--secondaryColor);
}

input[type="text"]:focus,textarea:focus{
    border-bottom: 1px solid rgb(255,0,106);
}
input[type="email"]:focus,textarea:focus{
    border-bottom: 1px solid rgb(255,0,106);
}

textarea::-webkit-scrollbar{
    width: 4px;
}

button[type="submit"]{
    margin-top: 30px;
    cursor: pointer;
    border-radius: 3px;
    background:var(--buttonColor);
    color: #fff;
}

.error{
    color:red;
}

.error-border{
    border-bottom:1px solid red;
}

/* contact us */
@media screen and (max-width:600px){
    .main__content h1{
        word-break: keep-all;
    }
}


/* CUSTOM CSS*/

/* removing margin from button*/
.mt-0{
    margin: 0 !important;
}


